<% if resource.errors.any? %>
  <div class="alert alert-danger bg-gradient-danger text-white">
    <span class="alert-icon"><i class="far fa-exclamation-triangle"></i></span>
    <span class="alert-text"><strong><%= t 'general.error' %>!</strong> <% resource.errors.full_messages.each do |message| %>
        <br/><%= message %>
      <% end %></span>
  </div>
<% end %>
